$phone_width : 800px;

.desktop{
	display:block;

}
.mobile{
	display : none;
}

@media(max-width : $phone_width){
	.banner .banner-slider .banner-text .banner-text-container .black-box span.download_now{
		padding-bottom:12px;
		cursor : pointer;
		&:hover{
			background : white !important;
			color : $primary_bg_color !important;
		}
	}
	.footer{
	.container{
		@include flexbox;
		@include flex-direction(column-reverse);
	}
	text-align:center;
	.copyright{
		float:none;
		
	}

	

}
.news .news-images{
	img{
		min-width:30%;
		max-width:31%;
		height : 60px;
		min-height:60px;
	}
}
.partners{
		display:none;
	}

	.footer{
		margin-top:0px;
	}
.banner{
		padding-top:120px;
		.banner-slider{
			.banner-text{
				*{
					text-align:left !important;
				}
				.banner-text-container{
					padding-left: 40px;
					padding-bottom:120px;
					img{
						&:first-child{
							margin-left:0;
							display:block;
							height:40px;
								
						}


					}
					.image-border{
									display:block;
									height:4px;
									background : white;
									width:60px;
									margin-top:8px;
									margin-bottom:15px;
					}
					.pink-box{
						display:none;
						margin-left:0;
					}
					.black-box span{
						border: 2px solid white;
						background:none !important;
						text-transform:uppercase;
						color : white;
					}
				}
				.social i{
					padding:4px 6px 0;
					&.fa-facebook{
						background : white;
						color: #dc4f56;
					}
				}
				
			}
			margin: 10px auto 60px;
			
		}
	}
.desktop .banner-text{
	display:none;
}
.features{
	.feature{
		@include flex-direction(column);
		text-align:center;
		.head{
			p{
				text-align:left;
			}
		}
		.image{
			img{
				margin:0;
			}
		}
	}
}

	.nav{
		margin:20px 0px;;
		float:none;
		ul{
				li{
					display:block;
					float:none;
					a{
						display : inline-block;
					}
				}
			}
	}

	.desktop{
		display : none;
	}
	.mobile{
		display : block;
		position:relative;
		.mobile-bg{
			position:relative;
			width:100%;
			height:auto;
		}
		.dekkoh-slider{
			position: absolute;
			  top: 42px;
			  left: 68px;
			  width: 211px;
			  height: 396px;
			  .owl-wrapper-outer .item{
					    height: 396px;
						position:relative;
						.question{
							height:100%;
							img{
								width:100%;
								height: 100%;
								position:relative;
								
							}
						}
						
						
					}
		}
 	}

	nav.mobile{
		.navigation-btn{
					position:fixed;
					top:0;
					left:0;
					width:100%;
					text-align:left;	
			
			z-index:1;
		}
		
		.nav{
			z-index :2;
			position : fixed;
			margin:0;
			width:200px;
			top:0;
			height:100%;
			padding-top:30px;
			left:-200px;
			@include transition(left 400ms ease 0s);
			&.active{
				left: 0;		
			}
		}
		

	}

	
}
nav.mobile{
	.nav{
			@extend .secondary-bg;
	}
	.navigation-btn {
		padding:4px 8px;
		  background: #dc4f56;
		.navv{
			float:left;
			img{
				  height: 35px;
				  width: auto;
				  position: relative;
				  float:left;
				  top:3px;


			}
			.match{
				
				  float: left;
				  padding-left: 9px;
				  color: white;
				  text-transform: uppercase;
				  font-size: 14px;
				  position: relative;
				  top: 6px;
				  margin-left: 6px;
				  border-left: 2px solid white;



				p{
					line-height: 11px;
				  padding: 2px 0;
				  margin: 0;
				}


			}
		}
		button{
			padding: 8px 15px;
		  outline: none;
		  	color : white;
		  	float:left;
		  	background:none;
		  	color: white;
		  	border: 1px solid transparent;

		  	font-size: 22px;
		  @include transition(background 200ms ease 0s);
		  &:hover{
		  @extend .secondary-bg;
		  	color : white;	
		  }
		}
	
	}
}


